<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#" th:href="@{/assets/img/favicon.ico}">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="dashboard.css" th:href="@{/assets/css/dashboard_user_home.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/waterfall.css}" >
    <!-- 引入JQuery -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- 引入瀑布流布局相关 JavaScript 文件 -->
    <script src="../assets/js/pubuliu.js" th:src="@{/assets/js/waterfall.js}" type="text/javascript"
            charset="utf-8"></script>
</head>

<body>

<!-- 顶部菜单栏 -->
<div th:replace="common/bar::#top-bar(isLogin=${session.user})"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 左侧边栏 -->
        <div th:replace="common/bar::#side-bar(activeUri='publish')"></div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">图片发布</h1>

            <h2 ><a th:href="@{/toPictureUpload}" type="button" class="btn btn-lg btn-success">发布图片</a></h2>
            <div class="table-responsive">
                <div class="waterfall">
                    <ul id="waterfall_ul">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
