<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Avalon</title>
    <!-- 引入JQuery -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 引入 Bootstrap 相关JS CSS  -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- 引入瀑布流布局相关 JavaScript 文件 -->
    <script src="../assets/js/pubuliu.js" th:src="@{/assets/js/waterfall.js}" type="text/javascript"
            charset="utf-8"></script>
    <link rel="stylesheet" th:href="@{/assets/css/waterfall.css}" >
</head>
<body>
<!-- 顶部菜单栏 -->
<div th:replace="common/bar::#top-bar(isLogin=${session.user})"></div>
<br>
<br>
<br>
<div class="waterfall">
    <ul id="waterfall_ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

</body>
</html>
